<article class='country'>
  <h2 class='country__name'>{{name}}</h2>

  <p class='country__capital'>Capital: {{capital}}</p>

  <p class='country__population'>Population: {{population}}</p>

  <ul class='country__languages'>Languages:
    {{#each languages}}
      <li class='country__language'>{{name}}</li>
    {{/each}}
  </ul>

  <img class='country__img' src='{{flag}}' alt='{{name}}' width='320' />
</article>